<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.shazron.cordova.keychainutil"
    version="1.0.0">

    <name>iOS KeyChain</name>
	
    <asset src="www/keychain.js" target="plugins/keychain.js" />

    <!-- ios -->
    <platform name="ios">
              
        <!-- feature tag in config.xml -->
        <config-file target="config.xml" parent="/widget">
          <feature name="Keychain">
            <param name="ios-package" value="CDVKeychain"/>
          </feature>
        </config-file>
        
        <header-file src="src/ios/CDVKeychain.h" />
        <header-file src="src/ios/SFHFKeychainUtils/SFHFKeychainUtils.h"/>
        
        <source-file src="src/ios/CDVKeychain.m"/>
        <source-file src="src/ios/SFHFKeychainUtils/SFHFKeychainUtils.m" />
        
        <framework src="Security.framework" />
        
        <info>
Add this script tag to your index.html:
    &lt;script src="plugins/keychain.js"&gt;&lt;/script&gt;
	    </info>

    </platform>
</plugin>
